In [63]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [64]:
taxi_data = pd.read_csv("taxi.csv")
taxi_data.head()
print(taxi_data.columns)

Index(['medallion', 'pickup_datetime', 'pickup_longitude', 'pickup_latitude',
       'trip_time_in_secs', 'fare_amount', 'tip_amount'],
      dtype='object')

In [65]:
trips_data = pd.read_csv("trips.csv")
trips_data.head()
print(trips_data.columns)

Index(['medallion', 'hack_license', 'vendor_id', 'rate_code',
       'store_and_fwd_flag', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'trip_time_in_secs', 'trip_distance',
       'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
       'dropoff_latitude'],
      dtype='object')

In [66]:
merge_data = pd.merge(trips_data, taxi_data)
print(merge_data.columns)

Index(['medallion', 'hack_license', 'vendor_id', 'rate_code',
       'store_and_fwd_flag', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'trip_time_in_secs', 'trip_distance',
       'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
       'dropoff_latitude', 'fare_amount', 'tip_amount'],
      dtype='object')

In [67]:
merge_data = merge_data.drop(['hack_license', 'vendor_id', 'rate_code', 'store_and_fwd_flag', 'passenger_count', 'tip_amount'], axis=1)
print(merge_data.columns)

Index(['medallion', 'pickup_datetime', 'dropoff_datetime', 'trip_time_in_secs',
       'trip_distance', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'fare_amount'],
      dtype='object')

In [71]:
merge_data = merge_data.dropna()
merge_data.head()

,medallion,pickup_datetime,dropoff_datetime,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,fare_amount
0,4D24F4D8EF35878595044A52B098DFD2,2013-01-13T10:23:00Z,2013-01-13T10:33:00Z,600,1.11,-73.946457,40.772728,-73.954819,40.777840,8.0
1,A49C37EB966E7B05E69523D1CB7BE303,2013-01-13T04:52:00Z,2013-01-13T05:06:00Z,840,5.35,-73.998268,40.740414,-73.984909,40.674999,18.0
2,1E4B72A8E623888F53A9693C364AC05A,2013-01-13T10:47:00Z,2013-01-13T10:48:00Z,60,0.50,-73.953461,40.775864,-73.955238,40.773216,3.5
3,F7E4E9439C46B8AD5B16AB9F1B3279D7,2013-01-13T11:14:00Z,2013-01-13T11:26:00Z,720,2.66,-73.981369,40.724731,-74.012932,40.717426,11.5
4,A9DC75D59E0EA27E1ED328E8BE8CD828,2013-01-13T11:24:00Z,2013-01-13T11:28:00Z,240,1.49,-73.967995,40.760002,-73.955513,40.776730,6.5

In [72]:
merge_data['medallion'].value_counts()

medallion
BCC1B5B7D9596FEC872C9DAD725310B3    15
723B5809862054401FA26A9219A45FC5    15
CBAAA9C7A2B8ADF468BA2477E22BD763    14
D6FDD900F5504C7FD5C0B999966E0F07    13
B6585890F68EE02702F32DECDEABC2A8    13
                                    ..
85E0A289F58009CF568A928219082EDC     1
6C0E03106318253CAD879114FC991B66     1
7A4720A674F0EDBF9E71EB37EF0DB47B     1
473E20C6CBE91A07C2CA161158E35AE4     1
A6DB36B570BD59E08FBE76086C5EE662     1
Name: count, Length: 12744, dtype: int64